# PM2 Server Name
appservername

# App Repository for git clone
apprepo

# Folders
laravelfolder
laravellogsfolder
assetsfolder
applogsfolder

# Env Files
assetsenvfile
appenvfile
laravelenvfile

# Commands
npm_command
reload_command
test_command

# Ownership
owner_user
owner_group